.oc-nucor-culture{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
     text-align: justify;
}
 @media (min-width:1440px){
    .oc-nucor-culture .contentCard:nth-of-type(odd){
        padding-left:calc(50% - 650px);
    }
    .oc-nucor-culture .contentCard:nth-of-type(even){
        padding-right:calc(50% - 650px);
    }
}
 .oc-lamina-card{
    min-height:330px;
    padding:20px 10px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:flex-start;
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-flex-basis:384px;
    -ms-flex-preferred-size:384px;
    flex-basis:384px;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

.oc-lamina-card h3{
    font-size: 23px;
    font-weight: 900;
    margin: 0 0 30px;
    text-transform: none;
}

.oc-lamina-card p{
    font-weight: 500;
}

 .oc-lamina-card:nth-child(even){
    background-color:#E8E7E7;
}
 .oc-lamina-card:nth-child(odd){
    background-color:#F2F2F2;
}
 @media (min-width:768px){
    .oc-lamina-card{
        margin-bottom:0;
        -webkit-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row;
        -webkit-align-items:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        padding-left:25%;
        padding-right:25%;
    }
    .oc-lamina-card:nth-child(odd){
        background-color:#F2F2F2;
    }
    .oc-lamina-card:nth-child(even){
        background-color:#F2F2F2;
    }
    .oc-lamina-card:nth-child(4n+3),.oc-lamina-card:nth-child(4n+4){
        background-color:#E8E7E7;
    }
}
 @media (min-width:1000px){
    .oc-lamina-card{
        -webkit-flex-basis:50%;
        -ms-flex-preferred-size:50%;
        flex-basis:50%;
    }
    .oc-lamina-card:nth-child(odd){
        padding:70px 0 70px 85px;
    }
    .oc-lamina-card:nth-child(even){
        padding:70px 85px 70px 0;
    }
}
 .oc-lamina-card img{
    max-width:80px;
    height:auto;
}
 @media (min-width:768px){
    .oc-lamina-card img{
        -webkit-flex:1;
        -ms-flex:1;
        flex:1;
    }
}
 @media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
    .oc-lamina-card img{
        -webkit-flex:none;
        -ms-flex:none;
        flex:none;
    }
}
 .oc-lamina-card>div{
    margin-top:20px;
    text-align:justify;
}
 @media (min-width:768px){
    .oc-lamina-card>div{
        margin-top:0;
        margin-left:30px;
        text-align:justify;
        -webkit-flex:3;
        -ms-flex:3;
        flex:3;
    }
}
 @media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
    .oc-lamina-card>div{
        -webkit-flex:none;
        -ms-flex:none;
        flex:none;
    }
    .oc-lamina-card>div h3{
        max-width:100vw;
    }
    .oc-lamina-card>div .rich-text p{
        max-width:100vw;
         text-align: justify;
    }
}
 .oc-lamina-card h3{
    margin-top:0;
}
 @media (min-width:768px){
    .oc-lamina-card .rich-text{
        max-width:90%;
    }
}
 .oc-galvanizado-div{
    margin-right:0px;
    color:#FFF;
    background-color:#006325;
}
 .oc-galvanizado-div .row{
    margin-right:0px;
}
 @media (min-width:1000px){
    .oc-galvanizado-div .row{
        padding:0 calc(50% - 650px);
    }
}
 .oc-galvanizado-div h2{
    font-size:35px;
    font-family:'proxima-nova';
    font-weight:900;
    text-transform:uppercase;
}
 @media (min-width:576px){
    .oc-galvanizado-div h2{
        text-align:center;
    }
}
 @media (min-width:768px){
    .oc-galvanizado-div h2{
        margin-bottom:130px;
    }
}
 .oc-galvanizado-div h3{
    font-size:33px;
    font-weight: 900;
    line-height: 1.42857143;
    margin: 0 0 30px;
}
.oc-galvanizado-div p{
    font-weight: 500;
}
 @media (min-width:576px){
    .oc-galvanizado-div{
        padding:55px 50px;
    }
}
 @media (min-width:768px){
    .oc-galvanizado-div{
        padding:140px 50px 55px;
    }
}
 .oc-card {
    text-align: justify;
}
 @media (min-width:768px){
    .oc-card{
        height:280px;
        margin-bottom:60px;
    }
    .oc-card:nth-child(even){
        padding-right:40px;
    }
    .oc-card:nth-child(even):after{
        content:'';
        height:80px;
        width:3px;
        position:absolute;
        left:100%;
        top:25%;
        background-color:#FFF;
    }
    .oc-card:nth-child(odd){
        padding-left:40px;
    }
}
 @media (min-width:1000px){
    .oc-card{
        margin-bottom:0;
    }
    .oc-card:nth-child(even){
        padding-right:60px;
    }
    .oc-card:nth-child(odd){
        padding-left:60px;
    }
}
