<div class="siderurgica-div  automotriz-main"  title="Nucor - JFE cultura aceros div">
    <div class="galvanilado-banner  coil-sub"
        style="background-image: url(&quot;/assets/img/1-borde-negro.png&quot;);"  title="Nucor - JFE cultura aceros img">
        <div class="lamina-tittle">
            <h1 class="animated fadeIn fast  molino-sub-text titutlo-font">
                {{ 'who_we_are.our_culture.tittle' | translate }}</h1>
        </div>
        <div class="zinc-white-line">

        </div>
    </div>
    <div class="zinc-green-line"></div>

    <div class="fundicion-main-text rich-text">
        <div>
            <p></p>
            <h3  class="tittle-label">{{ 'who_we_are.our_culture.subtittle' | translate }}</h3>
            <p></p>
            <p>{{ 'who_we_are.our_culture.main_text' | translate }}</p>

        </div>
    </div>
</div>
<div class="oc-nucor-culture"  title="Nucor - JFE cultura galvanizado cards">
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/honesty-integrity.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card integridad">{{ 'who_we_are.our_culture.integrity_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.integrity_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/handshake-icon.svg" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card trabajo en equipo">{{ 'who_we_are.our_culture.team_work_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.team_work_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/open-communication-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card comunicación">{{ 'who_we_are.our_culture.open_communication_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.open_communication_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/clipboard-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card responsabilidad">{{ 'who_we_are.our_culture.personal_responsibility_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.personal_responsibility_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/glass-half-full-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card optimismo">{{ 'who_we_are.our_culture.optimism_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.optimism_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/light-bulb-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card inovacion">{{ 'who_we_are.our_culture.innovation_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.inovation_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/love-people-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card nuestra gente">{{ 'who_we_are.our_culture.treat_people_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.treat_people_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/mindset-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card que hacemos">{{ 'who_we_are.our_culture.cando_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.cando_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/work-medal-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card etica profesional">{{ 'who_we_are.our_culture.professional_etic_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.professional_etic_content' | translate }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentCard oc-lamina-card">
        <img src="assets/img/flag-icon.png" alt="honesty-integrity">
        <div>
            <h3 title="Nucor - JFE cultura acero card orgullo">{{ 'who_we_are.our_culture.pride_tittle' | translate }}</h3>
            <div class="rich-text">
                <div>
                    <p>{{ 'who_we_are.our_culture.pride_content' | translate }}. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="oc-galvanizado-div">
    <div class="row container-fluid">
        <div class="col-xs-12 rich-text">
            <div>
                <p></p>
                <h2 class="titutlo-font" [innerHtml]="'who_we_are.our_culture.4principles' | translate" title="Nucor - JFE cultura metal 4 principios"></h2>
                <p></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6  oc-card bnh rich-text">
            <div>
                <p></p>
                <h3 >{{ 'who_we_are.our_culture.payperformance_tittle' | translate }}</h3>
                <p></p>
                <p>{{ 'who_we_are.our_culture.payperformance_content' | translate }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6  oc-card rich-text">
            <div>
                <p></p>
                <h3>{{ 'who_we_are.our_culture.treated_fairly_tittle' | translate }}</h3>
                <p></p>
                <p>{{ 'who_we_are.our_culture.treated_fairly_content' | translate }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6  oc-card rich-text">
            <div>
                <p></p>
                <h3>{{ 'who_we_are.our_culture.apeal_tittle' | translate }}</h3>
                <p></p>
                <p>{{ 'who_we_are.our_culture.apeal_content' | translate }}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6  oc-card rich-text">
            <div>
                <p></p>
                <h3>{{ 'who_we_are.our_culture.well_work_tittle' | translate }}</h3>
                <p></p>
                <p>{{ 'who_we_are.our_culture.well_work_content' | translate }}</p>
            </div>
        </div>
    </div>
</div>