<title>Nucor JFE</title>
<div class=" acero-main" title=" Nucor JFE - aceros div main">
    <div class="banner nucor-banner galvanilado-banner">
        <div class="nucor-banner metal-nucor"  title=" Nucor JFE - galvanizado video container">
            <div class=" login-with-video">
                <a class="gtm-contact-us" href="contact-us/index.html" target="_blank" title="contacto nucor">Contact
                    Us</a>
            </div>

            <video class="fundicion-video" autoplay="" loop=""  [muted]="'muted'"  title=" Nucor JFE - galvanizado video">
                <source
                    src="/assets/video/Video CGL Nucor EU.mp4"
                    type="video/mp4">
            </video>
            <div class=" justify-content-center">
                <h1 class="animated fadeIn align-middle acero-tittle titutlo-font" [innerHtml]="'index.content.banner_titulo' | translate">
                </h1><span class="animated fadeIn fast rollo-sub">
                    <div class="rich-text">
                        <div>
                            <b>{{ 'index.content.banner_subtitulo' | translate }}</b>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="intro-slide-wrap"  title="Nucor JFE - vacantes section">
        <div class="container vc">
            <div class="intro-slides home">
                <div class="slide ">
                    <div>
                        <h2 class="titutlo-font" style="font-size: 30px;" title="nucor unete al equipo">
                            {{ 'index.content.unete_equipo' | translate }}</h2>
                        <p>{{ 'index.content.unete_equipo_sub' | translate }}</p><a class="button-labels" 
                            href="jason/index.html"
                            title="Read Jason's Story">{{ 'button.informacion' | translate }}</a>
                    </div>
                    <div class="slide-image" style="background-image:url(./assets/img/unete-equipo.jpeg)">
                        <!--<h3 class="titutlo-font">Jason Smith <br class="titutlo-font">Design Principal, SmithGroup</h3>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>