<div class="siderurgica-div  automotriz-main" title="Nucor - JFE historia aceros div">
    <div class="galvanilado-banner  coil-sub" style="background-image: url(&quot;/assets/img/3-borde-negro.jpg&quot;);" title="Nucor - JFE historia img">
        <div class="lamina-tittle">
            <h1 class="animated fadeIn fast  molino-sub-text titutlo-font">{{ 'who_we_are.our_history.nucor_tittle' | translate }}</h1>
        </div>
        <div class="zinc-white-line">
            
        </div>
    </div>
    <div class="zinc-green-line"></div>
    
    <div class="fundicion-main-text rich-text">
        <div><p></p><h3 class="tittle-label">{{ 'who_we_are.our_history.nucor_tittle' | translate }}</h3><p></p>
            <p>{{ 'who_we_are.our_history.company_union' | translate }}</p>
            <p>{{ 'who_we_are.our_history.trajectory' | translate }}</p>
            <p>{{ 'who_we_are.our_history.family' | translate }}</p>
            <p>{{ 'who_we_are.our_history.security' | translate }}</p>

    </div>
</div>