.bg-white {background-color: white;}
.navbar-light .navbar-nav > li > a:hover, .navbar-light .navbar-nav > li > a:focus {
    color: #006325!important;
}

.navbar-light .navbar-nav > li > ul > li > a:hover, .navbar-light .navbar-nav > li > ul > li > a:focus {
    color: #006325!important;
    background: white !important;
}
