body {
  font-size: 15px !important;
}
.nucor-logo {padding-left: 20px; padding-top: 10px; width: 180px; height: 40px;}
.nucor-logo-footer {padding-top: 10px; width: 180px; height: 40px;}

.nav-menu-bold {font-weight: 800; color: black !important;}
.nav-search-icon {padding-top: 20px; padding-right: 40px;}

.tickerv-wrap {
    background: white;
    box-sizing: content-box;
    height: 14px; /* Take note of this */
    overflow: hidden; /* Hide scrollbars */
    padding: 10px;
    margin-top: 70px;
  } 
  
  /* TICKER ANIMATION */
  @keyframes tickerv {
    0%   {margin-top: 0;}
    /* Quite literally -ve height of wrapper */
    25%  {margin-top: -26px;} /* 1 X 25 px */
    50%  {margin-top: -52px;} /* 2 X 25 px */
    75%  {margin-top: -78px;} /* 3 X 25 px */
    100% {margin-top: 0;} /* Back to first line */
  }
  .tickerv-wrap ul {
    padding: 0;
    margin: 0;
    padding-left: 25px;
    list-style-type: none;
    animation-name: tickerv; /* Loop through items */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: infinite;
  }
  .tickerv-wrap ul:hover {
    /* Pause on mouse hover */
    animation-play-state: paused;
  }
  
  /* ITEMS */
  .tickerv-wrap ul li {
    font-size: 15px;
    line-height: 28.5px /* Same as wrapper height */
  }

  .ticker-icon {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .full {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: local('Proxima Nova Rg'),
  url(/assets/fonts/proxima/Novabold.otf) format('otf');
}

.titutlo-font {
  font-family: 'Proxima Nova Rg', 'arial' !important;
}
.navbar-light .navbar-nav > li > ul {
  padding: 0;
}

.navbar-light .navbar-nav > li > ul > li, .navbar-light .navbar-nav > li > ul > li {
  color: #006325!important;
  font-weight: 800;
  border-bottom: 1.5px solid #DFDFDF !important;
  background: white !important;
}

.dropdown-menu>li>a{color:#000;font-weight:800;font-size:12px;text-align:left;padding:10px 25px;padding-top:18px;text-transform:uppercase;}
.navbar-light .navbar-nav .open .dropdown-menu>li>a{background:#E8E7E7;font-size:15px;text-transform:uppercase;}
.dropdown-menu>li>a:active{color:#006325 !important;}
.dropdown-menu>li>a .caret{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);
  -webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);}
.navbar-nav .open .dropdown-menu{border-top:1px solid #D8D8D8;margin:0;padding:0;width:100%;}

.not_products .page>.footer-w {
  display: block;
}

.page>.footer-w {
  display: none;
  position: relative;
  z-index: 8;
}

/*Nucor footer left*/
.coil-footer {
  color: rgb(0, 99, 37);
  font-size: 12px;
  margin: 0px;
  padding: 75px 0px 0px;
  background: rgb(245, 245, 245);
}

.molino-container {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .zinc-img {
    border-bottom: none;
  }
}

.siderurgica-a {
  white-space: nowrap;
}

.coil-img {
  height: 30px;
}

.zinc-nucor-contact {
  padding-top: 30px;
  padding-bottom: 50px;
  max-width: fit-content;
}


.metal-label {
  display: block;
  white-space: nowrap;
  color: rgb(74, 74, 74);
  margin-bottom: 0px;
  font-family: FSIndustrie-Book;
  font-size: 17px;
  line-height: 30px;
}

.metal-label a {
  display: inline-block;
  margin-bottom: 0px;
}

.fundicion-label {
  color: rgb(74, 74, 74);
  display: block;
  margin-bottom: 0px;
  white-space: nowrap;
  font-family: FSIndustrie-Book;
  font-size: 17px;
  line-height: 30px;
}

.coil-footer .container .colWrap {
  padding-top: 40px;
  max-width: 620px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
}

.coil-footer .container .colWrap > div {
  padding: 0px 40px 0px 0px;
  margin-left: 40px;
}

.coil-contact-container {
  min-width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: none;
}

.kkHUSQ2 {
  min-width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: none;
}


@media (min-width: 576px) {
  .coil-contact-container {
    border-right: none;
  }
  .kkHUSQ2 {
    border-right: none;
  }
}

@media (min-width: 768px) {
  .coil-contact-container {
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: none;
    border-right: none;
  }
  .kkHUSQ2 {
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: none;
    border-right: 1px solid rgb(151, 151, 151);
  }
}

@media (min-width: 576px) {
  .coil-contact-container {
    margin-top: 0px;
    padding-top: 0px;
    border-right: none;
    border-bottom: none;
  }
  .kkHUSQ2 {
    margin-top: 0px;
    padding-top: 0px;
    border-right: none;
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .coil-contact-container {
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: none;
    border-right: none;
  }
  .kkHUSQ2 {
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: none;
    border-right: none;
  }
}


.fundicion-label {
  color: rgb(74, 74, 74);
  display: block;
  margin-bottom: 0px;
  white-space: nowrap;
  font-family: FSIndustrie-Book;
  font-size: 17px;
  line-height: 30px;
}

.automotriz-container-div {
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.colwrap {
  padding-top: 70px;
  max-width: 620px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .colwrap {
    padding-top: 140px;
  }
}

@media (max-width: 576px) {
  .colwrap {
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 20px;
    margin: 0px;
  }
}


 .colwrap > div {
  padding: 0px 40px 0px 0px;
  margin-left: 40px;
}

@media (max-width: 576px) {
  .coil-footer .container {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .automotriz-container-div {
    flex-direction: column; 
  }

  .colwrap > div {
    margin-left: 0;
  }
}

.rollo-footer {
  padding: 0px;
  margin: 0px;
  height: 35px;
  background: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  line-height: 35px;
}

.rollo-footer a{
  margin: 0px 10px;
  font-size: 14px;
}

.acero-footer-label {
  color: rgb(74, 74, 74);
  display: block;
  margin-bottom: 0px;
  white-space: nowrap;
  font-family: FSIndustrie-Book;
  font-size: 17px;
  line-height: 30px;
}

.img-navbar {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.img-linkedin {
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-right: 5px;
}

.img-linkedin-footer {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-right: 10px;
}

.media-footer-info {
  float: right; 
  padding-right: 20px;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border: none !important;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .media-footer-info {
    width: 100%;
    margin-top: 50px;
    padding-right: 0px;
    padding-left: 10px;
  }
  .zinc-nucor-contact {
    padding-top: 100px;
  }
  .navbar-light .navbar-toggler {
    margin-top: 5px;
  }

  .nav-item .dropdown {
    border: 1px solid;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0px!important;
  }
}

.product-video {
  width: 1050px; 
  height: 700px;
}

@media (max-width: 576px) {
  .safety-card {
    display: block !important;
  }
}

.vacantes-container {
  padding: 15px;
}