<div class="footer-w">
    <div>
        <footer class="coil-footer">
            <div class="media-footer-info">
                <a href="https://www.instagram.com/nucorjfe/" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/icons/instagram.png" class="img-navbar">
                </a>
                <a href="https://www.linkedin.com/company/nucor-jfe-steel-m%C3%A9xico/posts/?feedView=all&viewAsMember=true" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/icons/linkein.png" class="img-linkedin-footer">
                </a>
            </div>
            <div class="container" >
                <div class="automotriz-container-div">
                    <div class="molino-container">
                        <div class="zinc-img">
                            <a class="siderurgica-a" to="#">
                                <img src="./assets/img/logo_nucor-jfe.png" style="cursor: pointer;" alt="" class="nucor-logo-footer">
                            </a>
                            <div class="zinc-nucor-contact">
                                <p class="metal-label">Av. Paseo Industriales 212-C​</p>
                                <p class="metal-label">Parque Industrial FIPASI</p>
                                <p class="metal-label">El Espejo, Silao,Gto, 36100CP</p>
                            </div>
                        </div>
                    </div>
                    <div class="colwrap">
                        <div class="coil-contact-container">
                            <a class="fundicion-label" href="/assets/docs/Aviso de privacidad.pdf" target="_blank">{{ 'index.content.avisoprivacidad' | translate }}</a>
                            <a class="fundicion-label" href="/assets/docs/Cierre fiscal.pdf"  target="_blank">{{ 'index.content.politicacalidad' | translate }}</a>
                            <a class="fundicion-label" href="/assets/docs/Politica de calidad.pdf"  target="_blank">{{ 'index.content.cierrefiscal' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>