.op-automotriz-section {
    background: #F5F5F5;
    padding: 50px 0;
}
.op-horno-card{
   min-height:400px;
   -webkit-flex-direction:column;
   -ms-flex-direction:column;
   flex-direction:column;
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   background:#fff;
   max-width:1100px;
   margin:0 auto 50px;
   width:90%;
}
@media (min-width:1200px){
   .op-horno-card{
       -webkit-flex-direction:row;
       -ms-flex-direction:row;
       flex-direction:row;
   }
}
@media (min-width:576px){
}
@media (min-width:1440px){
}
.op-metal-div{
   min-height:400px;
   background-image:url(/assets/img/rollo-acero.jpg);
   background-position:center center;
   background-size:cover;
   width:100%;
}
@media (min-width:1200px){
   .op-metal-div{
       width:380px;
   }
}
.op-lamina-div{
   min-height:400px;
   background-image:url(/assets/img/acero-productos.jpg);
   background-position:center center;
   background-size:cover;
   width:100%;
}
@media (min-width:1200px){
   .op-lamina-div{
       width:380px;
   }
}
.op-molino-div{
   min-height:400px;
   background-image:url(https://images.ctfassets.net/aax1cfbwhqog/2no2ZTWFwUU8iGs246sqI0/95627a0c8bb3f40786ff799c32b61f13/Raw-Materials-LR.jpg);
   background-position:center center;
   background-size:cover;
   width:100%;
}
@media (min-width:1200px){
   .op-molino-div{
       width:380px;
   }
}
.op-horno-card-content{
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-flex-direction:row;
   -ms-flex-direction:row;
   flex-direction:row;
   padding:30px;
   -webkit-box-pack:justify;
   -webkit-justify-content:space-between;
   -ms-flex-pack:justify;
   justify-content:space-between;
   -webkit-align-items:flex-start;
   -webkit-box-align:flex-start;
   -ms-flex-align:flex-start;
   align-items:flex-start;
   width:100%;
    text-align: justify;
}
@media (min-width:1200px){
   .op-horno-card-content{
       width:calc(100% - 380px);
   }
}
.op-horno-card-content > div{
   max-width:50%;
   min-width:auto;
}
.op-horno-card-content > div.rich-text{
   max-width:50%;
   min-width:250px;
}
.op-horno-card-content > div.rich-text > div{
   height:100%;
   max-width:100%;
}
.op-horno-card-content > div .rich-text{
   max-width:90%;
}
@media (min-width:1200px){
   .op-horno-card-content > div{
       max-width:370px;
       height:100%;
   }
   .op-horno-card-content > div.rich-text{
       max-width:250px;
       height:100%;
   }
   .op-horno-card-content > div.rich-text > div{
       height:100%;
   }
}
@media (max-width:576px){
   .op-horno-card-content{
       -webkit-flex-direction:column;
       -ms-flex-direction:column;
       flex-direction:column;
   }
   .op-horno-card-content > div{
       max-width:100%;
   }
   .op-horno-card-content > div .rich-text{
       max-width:100%;
       margin:0 0 20px;
   }
   .op-horno-card-content > div.rich-text{
       max-width:100%;
       min-width:250px;
       width:100%;
   }
}
.op-horno-card-content h2{
   text-transform:none;
   font-size:30px;
   position:relative;
   margin:0 0 20px;
}
@media (min-width:576px){
}
@media (min-width: 1000px) {
    .op-automotriz-section {
        margin-top: 50px;
   }
}
@media (min-width: 576px) {
    .op-automotriz-section {
        margin-top: 30px;
   }
}
