<div class="siderurgica-div  automotriz-main" title="Nucor - JFE productos automotriz div">
    <div class="nucor-banner metal-nucor">
        <div class=" login-with-video">
            <a class="gtm-contact-us" href="contact-us/index.html" target="_blank" title="contacto nucor">Contact Us</a>
        </div>

        <video class="fundicion-video" autoplay="" loop="" [muted]="'muted'" title="Nucor - JFE productos rollo acero video">
            <source src="assets/video/Video CGL Nucor EU.mp4" type="video/mp4" >
        </video>
        <div class=" ">
            <h1 title="Nucor - JFE productos" class="animated fadeIn  acero-tittle titutlo-font" >{{ 'what_we_do.products.products_tittle' | translate }}</h1>
        </div>
        <div class="zinc-white-line">

        </div>
    </div>
</div>
<div class="zinc-green-line"></div>
<div class="fundicion-main-text rich-text">
    <div>
        <p [innerHtml]="'what_we_do.products.products_subtittle' | translate"></p>
    </div>
</div>

<section class="op-automotriz-section"  title="Nucor - JFE productos automotriz">
    <div class="op-horno-card">
        <div class="op-metal-div"></div>
        <div class="op-horno-card-content">
            <div>
                <h2>{{ 'what_we_do.products.steel_card_tittle' | translate }}</h2>
                <div class="rich-text">
                    <div>
                        <p>{{ 'what_we_do.products.steel_card_content' | translate }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="op-horno-card"  title="Nucor - JFE productos horno">
        <div class="op-lamina-div"></div>
        <div class="op-horno-card-content">
            <div>
                <h2>{{ 'what_we_do.products.steel_products_card_tittle' | translate }}</h2>
                <div class="rich-text">
                    <div>
                        <p>{{ 'what_we_do.products.steel_products_card_content' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>