<div class="">
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
        <div class="d-flex flex-grow-1">
            <span class=" d-lg-none d-block">
                <!-- hidden spacer to center brand on mobile -->
            </span>
            <a class="navbar-brand language-brand">
                <img src="./assets/img/logo_nucor-jfe.png" style="cursor: pointer;" alt="" class="nucor-logo nl"
                    [routerLink]="['inicio']">
                <div class="logo-desktop">
                    <img src="./assets/img/icons/mexico.svg" alt="" class="nucor-logo "
                        style="cursor: pointer; width: 42px; height: 43px;" (click)="changeLanguage('es')">
                    <img src="./assets/img/icons/united-states.svg" alt="" class="nucor-logo"
                        style="cursor: pointer; width: 42px; height: 43px;" (click)="changeLanguage('en')">
                </div>
            </a>
            <br>
            <div class="text-right " style="float: right; margin-left: auto; 
            margin-right: 0;">
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="navbar-nav ms-auto flex-nowrap"
                style="text-transform: uppercase !important; font-size: 12px!important;">
                <li class="nav-item dropdown">
                    <a class="nav-link m-2 menu-item nav-menu-bold" id="whoare" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ 'index.navbar.whoare' | translate }}
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="whoare">
                        <li><a class="dropdown-item titutlo-font nav-menu-option" style="font-size: 12px !important;"
                                [routerLink]="['quienes_somos/nuestra_historia']">{{ 'index.navbar.nuestra_historia' | translate }}</a>
                        </li>
                        <li><a class="dropdown-item nav-menu-option"
                                [routerLink]="['quienes_somos/nuestra_cultura']">{{ 'index.navbar.cultura' | translate }}</a>
                        </li>
                        <li><a class="dropdown-item nav-menu-option"
                                [routerLink]="['quienes_somos/filosofia']">{{ 'index.navbar.filosofia' | translate }}</a>
                        </li>
                        <li><a class="dropdown-item nav-menu-option"
                                [routerLink]="['quienes_somos/ubicacion']">{{ 'index.navbar.ubicacion' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link m-2 menu-item nav-menu-bold" id="whatdo" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ 'index.navbar.que_hacemos' | translate }}
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="whatdo">
                        <li><a class="dropdown-item titutlo-font"
                                [routerLink]="['que_hacemos/vision_general']">{{ 'index.navbar.vision_general' | translate }}</a>
                        </li>
                        <li><a class="dropdown-item"
                                [routerLink]="['que_hacemos/nuestros_productos']">{{ 'index.navbar.nuestros_productos' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link m-2 menu-item nav-menu-bold" id="responsability" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'index.navbar.unete_equipo' | translate }}
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="responsability">
                        <li><a class="dropdown-item titutlo-font"
                                [routerLink]="['unete_equipo/vision_general']">{{ 'index.navbar.vision_general' | translate }}</a>
                        </li>
                        <li><a class="dropdown-item" href="#">{{ 'index.navbar.vacantes' | translate }}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link m-2 menu-item nav-menu-bold" id="investors" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'index.navbar.contacto' | translate }}
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="investors">
                        <li><a class="dropdown-item titutlo-font" href="#">{{ 'index.navbar.clientes' | translate }}</a>
                        </li>
                        <li><a class="dropdown-item" href="#">{{ 'index.navbar.proveedores' | translate }}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/nucorjfe/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/icons/instagram.png" class="img-navbar">
                    </a>
                    <a href="https://www.linkedin.com/company/nucor-jfe-steel-m%C3%A9xico/posts/?feedView=all&viewAsMember=true"
                        target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/icons/linkein.png" class="img-linkedin">
                    </a>
                </li>
                <li class="nav-item">

                </li>
            </ul>
        </div>
    </nav>

    <div class="tickerv-wrap" *ngIf="false">
        <svg aria-hidden="true" data-prefix="fas" data-icon="broadcast-tower"
            class="ticker-icon svg-inline--fa fa-broadcast-tower fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512">
            <path fill="#777777"
                d="M150.94 192h33.73c11.01 0 18.61-10.83 14.86-21.18-4.93-13.58-7.55-27.98-7.55-42.82s2.62-29.24 7.55-42.82C203.29 74.83 195.68 64 184.67 64h-33.73c-7.01 0-13.46 4.49-15.41 11.23C130.64 92.21 128 109.88 128 128c0 18.12 2.64 35.79 7.54 52.76 1.94 6.74 8.39 11.24 15.4 11.24zM89.92 23.34C95.56 12.72 87.97 0 75.96 0H40.63c-6.27 0-12.14 3.59-14.74 9.31C9.4 45.54 0 85.65 0 128c0 24.75 3.12 68.33 26.69 118.86 2.62 5.63 8.42 9.14 14.61 9.14h34.84c12.02 0 19.61-12.74 13.95-23.37-49.78-93.32-16.71-178.15-.17-209.29zM614.06 9.29C611.46 3.58 605.6 0 599.33 0h-35.42c-11.98 0-19.66 12.66-14.02 23.25 18.27 34.29 48.42 119.42.28 209.23-5.72 10.68 1.8 23.52 13.91 23.52h35.23c6.27 0 12.13-3.58 14.73-9.29C630.57 210.48 640 170.36 640 128s-9.42-82.48-25.94-118.71zM489.06 64h-33.73c-11.01 0-18.61 10.83-14.86 21.18 4.93 13.58 7.55 27.98 7.55 42.82s-2.62 29.24-7.55 42.82c-3.76 10.35 3.85 21.18 14.86 21.18h33.73c7.02 0 13.46-4.49 15.41-11.24 4.9-16.97 7.53-34.64 7.53-52.76 0-18.12-2.64-35.79-7.54-52.76-1.94-6.75-8.39-11.24-15.4-11.24zm-116.3 100.12c7.05-10.29 11.2-22.71 11.2-36.12 0-35.35-28.63-64-63.96-64-35.32 0-63.96 28.65-63.96 64 0 13.41 4.15 25.83 11.2 36.12l-130.5 313.41c-3.4 8.15.46 17.52 8.61 20.92l29.51 12.31c8.15 3.4 17.52-.46 20.91-8.61L244.96 384h150.07l49.2 118.15c3.4 8.16 12.76 12.01 20.91 8.61l29.51-12.31c8.15-3.4 12-12.77 8.61-20.92l-130.5-313.41zM271.62 320L320 203.81 368.38 320h-96.76z">
            </path>
        </svg>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam consequat varius consequat.</li>
            <li>Fusce dapibus turpis vel nisi malesuada sollicitudin.</li>
            <li>Pellentesque auctor molestie orci ut blandit.</li>
        </ul>
    </div>
</div>