<div class="siderurgica-div  automotriz-main" title="Nucor - JFE vision general zinc coil div">
    <div class="galvanilado-banner  coil-sub" style="background-image: url(/assets/img/rollo-acero-producto.jpg);">
        <div class="lamina-tittle">
            <h1 class="animated fadeIn fast  molino-sub-text titutlo-font">
                {{ 'what_we_do.overview.banner_tittle' | translate }}</h1>
        </div>
        <div class="zinc-white-line">

        </div>
    </div>
</div>
<div class="zinc-green-line"></div>

<div class="fundicion-main-text rich-text">
    <div>
        <p [innerHtml]="'what_we_do.overview.description' | translate"></p>
    </div>
</div>
<h1 class="text-center productos-label-m" title="Nucor - JFE vision general acero productos">Productos</h1>
<section class="wwd-o-fundicion-section" title="Nucor - JFE vision general rollo galvanizado galvanilado section">
    <div class="section-box wwd-o-coil-box" style="background-image:url(assets/img/galvanizado.png)">
        <h2 title="Nucor - JFE vision general zinc coil galvanizado div">{{ 'what_we_do.overview.section_galvanized' | translate }}
        </h2>
        <div class="rich-text">
        </div><a class="wwd-o-zinc-button" href="../products/index.html">{{ 'button.info' | translate }}</a>
    </div>
    <div class="section-box  wwd-o-coil-box" style="background-image:url(assets/img/galvanilado.jpg)">
        <h2 title="Nucor - JFE vision general siderurgica galvanilado div">{{ 'what_we_do.overview.section_galvaniled' | translate }}</h2>
        <div class="rich-text">
        </div><a class="wwd-o-zinc-button" href="../industries-served/index.html">{{ 'button.info' | translate }}</a>
    </div>
</section>
<section class="wwd-o-acero-section"  title="Nucor - JFE vision general section">
    <div class="wwd-o-galvanizado-section">
        <div class="wwd-o-metal-video container">
            <div>
                <video autoplay="" loop="" [muted]="'muted'">
                    <source src="/assets/video/Clip NJSM1.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>