.wwd-o-fundicion-section{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
 @media (min-width:1440px){
    .wwd-o-fundicion-section .section-box:nth-child(1){
        align-self: flex-end;
    }
    .wwd-o-fundicion-section .section-box:nth-child(1) h2,.wwd-o-fundicion-section .section-box:nth-child(1) .rich-text,.wwd-o-fundicion-section .section-box:nth-child(1) a{
        -webkit-align-self:flex-end;
        -ms-flex-item-align:end;
        align-self:flex-end;
    }
    .wwd-o-fundicion-section .section-box:nth-child(2){
        padding-right:calc(50% - 720px);
    }
}
 .wwd-o-coil-box{
    min-height:400px;
    padding:10px;
    background-position:center center;
    background-size:cover;
    color:#FFF;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-flex-basis:384px;
    -ms-flex-preferred-size:384px;
    flex-basis:384px;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
 @media (min-width:576px){
    .wwd-o-coil-box{
        padding:75px;
        -webkit-box-pack:end;
        -webkit-justify-content:flex-end;
        -ms-flex-pack:end;
        justify-content:flex-end;
        -webkit-align-items:flex-start;
        -webkit-box-align:flex-start;
        -ms-flex-align:flex-start;
        align-items:flex-start;
    }
}
 @media (min-width:1000px){
    .wwd-o-coil-box{
        margin-bottom:0px;
    }
}
 @media (min-width:768px){
    .wwd-o-coil-box .rich-text p{
        min-height:4em;
    }
}
 .wwd-o-coil-box h2{
    font-size:45px;
    position:relative;
}
 @media (min-width:576px){
    .wwd-o-coil-box h2::before{
        content:"";
        height:45px;
        width:50px;
        background:#006325;
        position:absolute;
        left:-75px;
        bottom:0;
    }
}
 @media (max-width:576px) and (-ms-high-contrast:none),(-ms-high-contrast:active){
    .wwd-o-coil-box{
        display:-webkit-inline-box;
        display:-webkit-inline-flex;
        display:-ms-inline-flexbox;
        display:inline-flex;
    }
    .wwd-o-coil-box h2,.wwd-o-coil-box p{
        max-width:100vw;
        padding-left:15px;
    }
}
 .wwd-o-zinc-button{
    margin-top:25px;
    text-decoration: none;
     display:block;
    color:#FFF;
    cursor:pointer;
    display:inline-block;
    border-radius:24px;
    background:#006325;
    text-align:center;
    font-family:'FSIndustrie-Bold';
    text-transform:uppercase;
    color:#fff;
    font-size:14px;
    line-height:45px;
    padding:0 50px;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
 .wwd-o-zinc-button:hover,.wwd-o-zinc-button:visited{
    color:#FFF;
    background:#221E1F;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
 .wwd-o-acero-section{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
 @media (min-width:1440px){
    .wwd-o-acero-section .section-box:nth-child(1){
        padding-left:calc(50% - 720px);
    }
    .wwd-o-acero-section .section-box:nth-child(1) h2,.wwd-o-acero-section .section-box:nth-child(1) .rich-text,.wwd-o-acero-section .section-box:nth-child(1) a{
        -webkit-align-self:flex-end;
        -ms-flex-item-align:end;
        align-self:flex-end;
    }
    .wwd-o-acero-section .section-box:nth-child(2){
        padding-right:calc(50% - 720px);
    }
}
 @media (min-width:1000px){
    .wwd-o-acero-section{
        margin-top:0px;
    }
}
 .wwd-o-galvanizado-section{
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-flex-basis:500px;
    -ms-flex-preferred-size:500px;
    flex-basis:500px;
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center;
}
 @media (min-width:576px){
    .wwd-o-galvanizado-section{
        padding:45px 35px 45px 35px;
    }
}
 .wwd-o-galvanizado-section h3{
    color:#006325;
}
 .wwd-o-galvanizado-section .rich-text p{
    font-weight:bold;
}
 .wwd-o-galvanizado-section .rich-text ul,.wwd-o-galvanizado-section .rich-text ol{
    -webkit-column-count:2;
    column-count:2;
    list-style:none;
    padding-left:0;
    max-width:350px;
}
 @media (min-width:1440px){
    .wwd-o-galvanizado-section .rich-text{
        padding-left:30px;
    }
}
 .wwd-o-metal-video{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    display:block;
}
 .wwd-o-metal-video video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:2px solid #FFF;
    display:inline-block;
}
 .wwd-o-metal-video p{
    position:absolute;
    display:block;
    bottom:-10px;
    color:#FFF;
}


.productos-label-m {
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-shadow: 2px 2px 5px black;
    font-size: 45px;
}