.p-section-coil{
    background:#F2F2F2;
    padding:40px 0 60px 0;
    position:relative;
}
 .p-div{
    display:none;
}
 @media (min-width:1000px){
    .p-div{
        display:block;
    }
}
 .p-div-effect{
    height:100px;
    width:100px;
    position:absolute;
    left:20px;
    top:20px;
    border-top:solid 8px #D8D8D8;
    border-left:solid 8px #D8D8D8;
}
 .p-r-div{
    display:none;
}
 @media (min-width:1000px){
    .p-r-div{
        display:block;
    }
}
 .p-r-div-effect{
    height:100px;
    width:100px;
    position:absolute;
    left:20px;
    bottom:20px;
    border-bottom:solid 8px #D8D8D8;
    border-left:solid 8px #D8D8D8;
}
 .p-molino-gsUh{
    margin-top:60px;
    width:100%;
    display:block;
    text-align:justify;
}
 .p-molino-gsUh h2{
    text-align:center;
    margin-bottom:50px;
     font-weight: 600;
}
 .p-molino-gsUh .text-center{
    display:inline-block;
    float:none!important;
    margin-bottom:30px;
     padding: 20px;
}
 .p-molino-gsUh .text-center h3{
    text-align: center;
     font-size: 24px;
     font-weight: 900;
    margin: 0 0 30px;
}
 .p-molino-gsUh .text-center img{
    display:inline-block;
    width:90px;
    height:auto;
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center;
}
 .p-molino-gsUh .text-center div{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    text-align:justify;
}
 @media (min-width:1000px){
    .p-molino-gsUh .text-center p{
        min-height:5em;
        font-weight: 500;
    }
}
 .oc-content-galvanizado{
    height:65px;
    width:65px;
    margin-bottom:10px;
}
 .oc-section-metal{
    background:#006325;
    padding-top:75px;
    padding-bottom:85px;
}
 .oc-img-galvanizado{
    width:100%;
    text-align:center;
    display:block;
    padding:0 30px;
    color:#FFF;
}
 .oc-img-galvanizado img{
    display:inline-block;
    width:155px;
    height:155px;
    background:#FFF;
    border-radius:50%;
    padding:25px;
}
 .oc-img-galvanizado p{
    font-size:26px;
}
