<div class="siderurgica-div  automotriz-main"  title="Nucor - JFE filosofia galvanilado div">
    <div class="galvanilado-banner  coil-sub" style="background-image: url(&quot;/assets/img/nuestra_filosofia.jpg&quot;);" title="Nucor - JFE historia img">

    </div>
    <div class="zinc-green-line"></div>
</div>
<section class="oc-section-metal" title="Nucor - JFE filosofia metal section div">
    <div class="container">
        <div class="row">
            <div class="oc-img-galvanizado">
                <div class="col-lg-12">
                    <div><img class="oc-content-galvanizado" src="assets/img/our-mission.svg">
                        <div>
                            <h3 class="tittle-label">{{ 'who_we_are.philosophy.our_mission_tittle' | translate }}</h3>
                            <p>{{ 'who_we_are.philosophy.our_mission_content' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p-section-coil">
    <div class="container">
        <div class=" p-div  p-div-effect"></div>
        <div class=" p-r-div p-r-div-effect"></div>
        <div class="p-molino-gsUh">
            <h2 title="Nucor - JFE filosofia mision">{{ 'who_we_are.philosophy.execute_mission' | translate }}</h2>
            <div class="col-sm-12 col-md-4 col-xs-12 text-center safety-card">
                <div ><img class=" oc-content-galvanizado"
                        src="https://images.ctfassets.net/aax1cfbwhqog/49i3ic0XMcIa02iKaEWI6S/679338e5b4007dbfcad1a3f22d524ea0/safety-icon.svg">
                    <div>
                        <h3 title="Nucor - JFE filosofia seguridad">{{ 'who_we_are.philosophy.safety_tittle' | translate }}</h3>
                        <p class="text-center">{{ 'who_we_are.philosophy.safety_content' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <div><img class=" oc-content-galvanizado" title="Nucor - JFE filosofia galvanizado img"
                        src="https://images.ctfassets.net/aax1cfbwhqog/2e4t4KfubOSWMkuM6KaKGG/29563f943a178300dc9b3b413827fde2/handshake-icon.svg">
                    <div>
                        <h3>{{ 'who_we_are.philosophy.teamwork_tittle' | translate }}</h3>
                        <p>{{ 'who_we_are.philosophy.teamwork_content' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <div><img class=" oc-content-galvanizado"
                        src="https://images.ctfassets.net/aax1cfbwhqog/6OtqX9Lzpe6iAiGAaWOSGa/071b84452b9e8850b22e972189d9d033/thumbs-up-icon.svg">
                    <div>
                        <h3>{{ 'who_we_are.philosophy.quality_tittle' | translate }}</h3>
                        <p>{{ 'who_we_are.philosophy.quality_content' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <div><img class=" oc-content-galvanizado"
                        src="https://images.ctfassets.net/aax1cfbwhqog/2JRSkVoH6UawmocM4eEwOW/49a22591291f149eead544f9457edb0d/hour-glass-icon.svg">
                    <div>
                        <h3>{{ 'who_we_are.philosophy.strength_tittle' | translate }}</h3>
                        <p>{{ 'who_we_are.philosophy.strength_content' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <div><img class=" oc-content-galvanizado" title="Nucor - JFE filosofia horno entorno"
                        src="https://images.ctfassets.net/aax1cfbwhqog/3oiZbGmc2c8Asc0MusQuSO/6b974a2e7e683b4fb26069591f319a65/teammate-wellness-icon.svg">
                    <div>
                        <h3>{{ 'who_we_are.philosophy.enviroment_tittle' | translate }}</h3>
                        <p>{{ 'who_we_are.philosophy.enviroment_content' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-bfYoXt btrICq sc-clNaTc UrjvU"></div>
        <div class="sc-dRFtgE hhvZgF sc-fQejPQ jZjJIU"></div>
    </div>
</section>