.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rich-text{
   text-align: justify;
    padding-right: 25px;
}
.gv-molino-container a{
   color:#006325;
   font-weight:bold;
}
.gv-molino-container a:hover{
   -webkit-text-decoration:underline;
   text-decoration:underline;
}
.gv-molino-container .container-fluid{
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-align-items:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
   -webkit-box-pack:center;
   -webkit-justify-content:center;
   -ms-flex-pack:center;
   justify-content:center;
   -webkit-flex-direction:column;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-pack:end;
   -webkit-justify-content:flex-end;
   -ms-flex-pack:end;
   justify-content:flex-end;
   padding-top:30px;
   background-color:#F2F2F2;
}
@media (min-width:1000px){
   .gv-molino-container .container-fluid{
       -webkit-flex-direction:row;
       -ms-flex-direction:row;
       flex-direction:row;
       -webkit-box-pack:start;
       -webkit-justify-content:flex-start;
       -ms-flex-pack:start;
       justify-content:flex-start;
   }
}
.gv-molino-container .container-fluid a{
   color:#006325;
   font-weight:bold;
}
@media (min-width:576px){
   .gv-molino-container .container-fluid{
       padding-top:15px;
   }
   .gv-molino-container .container-fluid h3{
       margin-top:30px;
   }
}
@media (min-width:1000px){
   .gv-molino-container .container-fluid{
       padding-top:0px;
   }
}
.gv-molino-container .container-fluid img{
   width:100%;
}
.gv-molino-container .content-cards{
   text-align:center;
}
.gv-molino-container .content-cards .content-card{
   border:1px solid #C9C9C9;
   padding-bottom:30px;
   box-shadow:1px 1px 1px #C9C9C9;
}
@media (max-width:576px){
   .gv-molino-container .content-cards .content-card{
       margin-bottom:30px;
   }
}
.gv-molino-container .content-cards h3{
   margin-top:60px;
   margin-bottom:60px;
}
@media (min-width:576px){
   .gv-molino-container .content-cards h3{
       padding:0 25%;
   }
}
.gv-molino-container .content-cards .rich-text{
   padding:0 10%;
}
.gv-molino-container .content-cards a{
   margin-top:20px;
}
.gv-molino-container .content-cards img{
   max-width:100%;
}
@media (min-width:576px){
   .gv-molino-container .content-cards img{
       min-height:135px;
   }
}
.gv-molino-container .content-cards section{
   padding:30px 0;
}
@media (min-width:576px){
   .gv-molino-container .content-cards section{
       padding:60px 0;
   }
}
.gv-molino-container .content-cards section:nth-of-type(even){
   background-color:#F2F2F2;
}
.gv-molino-container .content-cards section:nth-of-type(even) .col-md-6:first-of-type{
   float:right;
}
.gv-molino-container .content-cards a{
   color:#FFF;
   font-weight:normal;
   -webkit-text-decoration:none;
   text-decoration:none;
   padding-left:5px;
   padding-right:5px;
}
.gv-molino-container .content-cards a:hover,.gv-molino-container .content-cards a:visited{
   -webkit-text-decoration:underline;
   text-decoration:underline;
}
@media (min-width:576px){
   .gv-molino-container .content-cards a{
       padding-left:35px;
       padding-right:35px;
   }
}
@media(min-width:1200px){
   .gv-molino-container .content-cards .whyNucor{
       padding-right:calc(50% - 720px);
   }
}
.gv-molino-container .content-cards .whyNucor a{
   color:#006325;
   -webkit-text-decoration:underline;
   text-decoration:underline;
   font-weight:bold;
}
.gv-equipo-img{
   text-align:center;
}
@media (min-width:1000px){
   .gv-equipo-img{
       padding-top:0px;
   }
}
@media (min-width:1000px){
   .gv-equipo-img img{
       margin-left:-60px;
       width:50vw;
       height:auto;
   }
}
.gv-equipo-button{
   margin-left:auto;
   margin-right:auto;
   margin-top:-20px;
   max-width:600px;
   display:block;
   margin-bottom:50px;
   -webkit-align-self:center;
   -ms-flex-item-align:center;
   align-self:center;
   color:#fff !important;
}
@media (min-width:576px){
   @supports (-ms-ime-align:auto){
       .gv-equipo-button{
           max-width:400px;
           background-size:400px 90px;
       }
   }
}
@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){
   .gv-equipo-button{
       max-width:400px;
       background-size:400px 90px;
       background-color:#006325;
   }
}
.gv-equipo-effect{
   margin-top:25px;
   display:block;
   color:#FFF;
   cursor:pointer;
   display:inline-block;
   border-radius:24px;
   background:#006325;
   text-align:center;
   font-family:'FSIndustrie-Bold';
   text-transform:uppercase;
   color:#fff;
   font-size:14px;
   line-height:45px;
   padding:0 50px;
   -webkit-transition:all 0.5s ease;
   transition:all 0.5s ease;
}
.gv-equipo-effect:hover,.gv-equipo-effect:visited{
   color:#FFF;
   background:#221E1F;
   -webkit-transition:all 0.5s ease;
   transition:all 0.5s ease;
}
.gv-equipo-effect{
   margin-top:25px;
   display:block;
   color:#FFF;
   cursor:pointer;
   display:inline-block;
   border-radius:24px;
   background:#006325;
   text-align:center;
   font-family:'FSIndustrie-Bold';
   text-transform:uppercase;
   color:#fff;
   font-size:14px;
   line-height:45px;
   padding:0 50px;
   -webkit-transition:all 0.5s ease;
   transition:all 0.5s ease;
}
.gv-equipo-effect:hover,.gv-equipo-effect:visited{
   color:#FFF;
   background:#221E1F;
   -webkit-transition:all 0.5s ease;
   transition:all 0.5s ease;
}
.gv-acero-section h3{
   color:#006325;
}
.gv-acero-section .rich-text a{
   padding-top:15px;
}
.gv-acero-section .flex{
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-align-items:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
   -webkit-box-pack:center;
   -webkit-justify-content:center;
   -ms-flex-pack:center;
   justify-content:center;
   -webkit-flex-direction:column;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-pack:start;
   -webkit-justify-content:flex-start;
   -ms-flex-pack:start;
   justify-content:flex-start;
   margin:60px auto;
}
@media (min-width:1000px){
   .gv-acero-section .flex{
       -webkit-flex-direction:row;
       -ms-flex-direction:row;
       flex-direction:row;
       -webkit-box-pack:end;
       -webkit-justify-content:flex-end;
       -ms-flex-pack:end;
       justify-content:flex-end;
   }
}
.gv-acero-section .flex img{
   width:100%;
   border: 4px solid #006325;
}


.gv-people-image {
   background-image: url(/assets/img/6-borde-negro.png); 
   color: white; 
   background-size: cover;
   background-position: bottom;
}
