<div class="siderurgica-div  automotriz-main">
    <div class="galvanilado-banner  coil-sub" style="background-image: url(&quot;/assets/img/3-borde-negro.jpg&quot;); ">
        <div class="lamina-tittle">
            <h1 class="animated fadeIn fast  molino-sub-text titutlo-font">
                {{ 'join_team.overview.tittle' | translate }}</h1>
        </div>
        <div class="zinc-white-line">

        </div>
    </div>
    <div class="zinc-green-line"></div>

    <div class="fundicion-main-text rich-text">
        <div>
            <p></p>
            <p [innerHtml]="'join_team.overview.description' | translate"></p>

        </div>
    </div>
    <div class="gv-molino-container">
        <div class="vacantes-container">
            <a class="gv-equipo-button  gv-equipo-effect" style="display: flex;
            justify-content: center; text-decoration: none; font-size: 7px;"
                href="https://jobs.nucor.com/Nucor_External?utm_source=careersite"
                target="_blank">{{ 'button.be_part_team' | translate }}</a>
        </div>

        <section class=" gv-acero-section">
            <div class="container-fluid">
                <div class="col-md-6 col-xs-12 gv-equipo-img"><img src="/assets/img/nucor-jfe.jpg"
                        alt="Careers WhyNucor"></div>
                <div class="col-md-6 col-xs-12 ">
                    <h3>{{ 'join_team.overview.why_nucor_tittle' | translate }}</h3>
                    <div class="rich-text">
                        <div>
                            <p>{{ 'join_team.overview.why_nucor' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="gv-people-image" >
            <div class="fundicion-main-text  rich-text">
                <div>
                    <p></p>
                    <p class="text-center" [innerHtml]="'join_team.overview.our_people' | translate"></p>
    
                </div>
            </div>
        </section>
        <section class="gv-acero-section">
            <div class="container flex">
                <div class="col-md-6 col-xs-12">
                    <h3>{{ 'join_team.overview.every_step_tittle' | translate }}</h3>
                    <div class="rich-text">
                        <div>
                            <p [innerHtml]="'join_team.overview.every_step_description' | translate"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12"><img class="img-border" src="/assets/img/fundicion-role.png" alt="lead-to-success"></div>
            </div>
        </section>
        <section class="gv-acero-section">
            <div class="container flex">
                <div class="col-md-6 col-xs-12">
                    <h3>{{ 'join_team.overview.best_benefits_tittle' | translate }}</h3>
                    <div class="rich-text">
                        <div>
                            <p>{{ 'join_team.overview.best_benefits_description' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12"><img class="img-border" src="/assets/img/automotriz-negocio.PNG"
                        alt="benefits-in-business"></div>
            </div>
        </section>
    </div>
</div>