/* You can add global styles to this file, and also import other style files */
@import url(./assets/fonts/libre-franklin/stylesheet.css);
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./assets/scss/nucor-template.scss";
@import "./assets/scss/colors.scss";
@import "./assets/scss/colors.scss";
@import '~animate.css/animate.min';
body {
    font-family: 'Libre Franklin', 'libre_franklinthin', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.0em;
}
